name: ad_uikit
description: "A comprehensive collection of reusable UI components and styles for Flutter applications."
version: 0.0.1
homepage:

environment:
  sdk: ^3.11.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Inter
      fonts:
        - asset: assets/inter/Inter-Regular.ttf
          weight: 400
        - asset: assets/inter/Inter-Medium.ttf
          weight: 500
        - asset: assets/inter/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/inter/Inter-Bold.ttf
          weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
